$black: #10181F;
$black-dark: #000000;
$black-transparent: rgba(16, 24, 31, 0.7);
$black-transparent-light: rgba(16, 24, 31, 0.4);
$white: #F3F3F3;
$pink: #D60056;
$pink-transparent: rgba(214, 0, 86, 0.8);